

<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="/styles/note.css" type="text/css" />
<form method="POST" action="/login">
    <h1>Bookmarks</h1>
    <h2>down below are your bookmarks </h2>

    <h1> here are your bookmarks: <%= data[0].first_name %> </h1>
     
     <% for(var i=0; i < data.length; i++) { %>
      
        <h3> user_id is this: <%= data[i].user_id %> </h3>
        <h3> note_id is this: <%= data[i].note_id %> </h3>
        <h3> url is this: <%= data[i].url %> </h3>
        
      
        

    </form>


    <article class='single-note'>
            <header class='note-header'>
                <h3> <%= data[i].title %> </h3>
            </header> 
            
            <a href="https://www.example.com"> 
                <div class='note-img-wrapper'>
                    <img src="<%= data[i].img_url %>" width="50%" height="50%">
                </div>
            </a>

            <div class="note-creator">
                
            </div>

            <footer class='note-footer'>
        
                <div class="btn-group" role="vote-counter" aria-label="vote-counter">
                    <button type="button" class="btn btn-secondary"><i class='fas fa-arrow-circle-up' style='font-size:24px'></i></button>
                    <button type="button" class="btn btn-secondary" disabled>135 pts</button>
                    <button type="button" class="btn btn-secondary"><i class='fas fa-arrow-circle-down' style='font-size:24px'></i></button>
                </div>

                
            </footer>

        </article>

        <% } %>