<!DOCTYPE html>
  <html lang="en">
    
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    
  <head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" /> 
  </head>
  
  <body>
    <div name='navbar-container' class='container'> 
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="https://ya-webdesign.com/images/notepad-icon-png.png" width="35" height="35" class="d-inline-block align-top" alt="">
                Resource Wall
            </a>
            <!-- <a class="navbar-brand" href="/">Resource Wall</a> -->
            <!-- when window is small, will toggle the menu button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notes/bookmarks/<%= data[0].id %>">My Bookmarks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">User Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notes/create">Create Note</a>
                </li>
                
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
        </nav>
    </div>

    <h2> Testing Homepage</h2>
    <h2><a href="/logout">LOGOUT</a></h2>
    <h2><a href="/content">CREATE A NOTE IF YOU ARE LOGINED</a></h2>
    <ul>
        
        <% for(var i=0; i < data.length; i++) { %>
      
          <div class='post-box'>
            <tr>
              <a href="/notes/<%= data[i].id %>">
              <img src='<%= data[i].img_url %>' class='post-img'>
              </a>
              
              <p>first_name is this: <%= data[i].first_name %></p><br>
              <p>ID PK is this: <%= data[i].id%></p><br>
              <p>url is this: <%= data[i].url %></p><br>
              <p>title is this: <%= data[i].title %></p><br>
              <p>imgurl is this: <%= data[i].img_url %></p><br>
              <p>rating is this: <%= data[i].rating_counter %></p><br>
              <p>category is this: <%= data[i].category_id %></p><br>
              <p>user_id FK is this: <%= data[i].user_id %></p><br>
              
             </tr>    
          </div> 
        <% } %>
    </ul>

  </body>

</html>
