<!DOCTYPE html>
  <html lang="en">
    
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    
  <head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" /> 
    <link rel="stylesheet" href="/styles/new-index.css" type="text/css" /> 

  </head>
  
  <body>
    <div name='navbar-container' class='container'> 
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="https://ya-webdesign.com/images/notepad-icon-png.png" width="35" height="35" class="d-inline-block align-top" alt="">
                Resource Wall
            </a>
            <!-- when window is small, will toggle the menu button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notes/bookmarks/<%= data[0].id %>">My Bookmarks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">User Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notes/create">Create Note</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                
              </ul>
              <form class="form-inline my-2 my-lg-0" method="POST" action="/search">
                <input name="searchWords" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
        </nav>
    </div>

    <!-- <ul>
        
        <% for(var i=0; i < data.length; i++) { %>
      
          <div class='post-box'>
            <tr>
              <a href="/notes/<%= data[i].id %>">
              <img src='<%= data[i].img_url %>' class='post-img'>
              </a>
              
              <p>first_name is this: <%= data[i].first_name %></p><br>
              <p>note info here: <%= data[i].note_info %></p><br>
              <p>ID PK is this: <%= data[i].id%></p><br>
              <p>url is this: <%= data[i].url %></p><br>
              <p>title is this: <%= data[i].title %></p><br>
              <p>imgurl is this: <%= data[i].img_url %></p><br>
              <p>rating is this: <%= data[i].rating_counter %></p><br>
              <p>category is this: <%= data[i].category_id %></p><br>
              <p>user_id FK is this: <%= data[i].user_id %></p><br>
              
             </tr>    
          </div> 
        <% } %>
    </ul> -->
    
    <!--START OF CUSTOM BOX ELEMENTS  -->
    <div class="container">
        <div class="row">
            <h1 class="text-uppercase font-weight-bold title">Kanye Wall of Fame </h4>
        </div>
        <div class="row">
            <div class="card-columns">
              <!-- first intro box element -->
            <div class="card">
                <div class="card-body">
                <div class="row">
                    <div class="col-sm-9 col-xs-9">
                    <h4 class="card-title">Note Resource Wall</h4>
                    </div>
                    <div class="col-sm-3 col-xs-3">
                    <img class="img-fluid logo" src="https://ya-webdesign.com/images/notepad-icon-png.png">
                    </div>
                    <div class="col-sm-12">
                    <small class="text-muted">
                    <a href="#!"><strong>www.noteresourcewall.com</strong></a>
                    </small>
                    </div>
                </div>
                <p class="card-text">Info: This is our Pinterest clone project for Light House Labs. We decided to make it a Kanye 
                  theme to dedicate it towards Nima. The stack we used was for the front end Jquery, html, and css and for the backend
                  we used express and POSTGRESQL. Hope you guys enjoy it!
                </p>
                <p class="card-text text-right"><small class="text-muted">
                    <span class="social">
                    <a href="#!">
                        <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                    </a>
                    <a href="#!">
                        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                    </a>
                    <a href="#!">
                        <i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i>
                    </a>
                    <a href="#!">
                        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                    </a>
                    </span>          
                    </small></p>
                </div>
            </div>
            <!-- end of first intro box -->
            
            <!-- START OF DB POSTS -->
            <% for(var i=0; i < data.length; i++) { %>
            <div class="card card-pin">
              <a href="/notes/<%= data[i].id %>">   
              <img class="card-img" src="<%= data[i].img_url %>" alt="Card image">
                <div class="overlay">
                  <h3 class="card-title title"><%= data[i].title %></h3>
                  <div class="counter">
                        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> <%= data[i].rating_counter %> pts
                  </div>
                  <div class="creator">
                        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> By <%= data[i].first_name %>
                  </div>
                </div>
              </a>
            </div>
            <% } %>
            <!-- END OF DATABASE POSTS -->

            
            <!-- start of single post -->
            <div class="card card-pin">
                <img class="card-img" src="https://dazedimg-dazedgroup.netdna-ssl.com/900/azure/dazed-prod/1150/9/1159008.jpg" alt="Card image">
                <div class="overlay">
                <h3 class="card-title title">How not to Garden</h3>
                <div class="download">
                    <a href="http://lorempixel.com/486/320/" download>
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                </div>
                <div class="counter">
                    <a href="#!">
                            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
                        </a>
                </div>
                </div>
            </div>
            <!-- end of single posty -->
            
            <div class="card card-pin">
                <img class="card-img" src="https://i.pinimg.com/736x/5c/cd/84/5ccd8495371943f1f6a1f31fc85be23e--landscaping-around-trees-backyard-landscaping-ideas-large.jpg" alt="Card image">
                <div class="overlay">
                <h3 class="card-title title">Why flowers are good</h3>
                <div class="download">
                    <a href="http://lorempixel.com/486/320/" download>
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                </div>
                <div class="counter">
                    <a href="#!">
                            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
                        </a>
                </div>
                </div>
            </div>
            
 
            <!-- end of all cards-->
            </div>
        </div>
    </div>

  </body>

</html>
